@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit", new {id = Model})">
            <i class="bi bi-pencil-square"></i>
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details", new {id = Model})">
            <i class="bi bi-card-list"></i>
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete", new {id = Model})">
            <i class="bi bi-trash3-fill"></i>
        </a>
    </div>
</td>